<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
<form method="get" action="/confirmed">
    <b>
        <label for="email"> Email</label>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input name="email" type="email" id="email"><br>

        <label for="code"> Activation Code</label>
        <input name="code" type="text" id="code"><br><br>
    </b>

    <input type="submit" value="Add Email">
</form>
</body>
</html>