<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form method="get" action="/confirmation">
    <b>
        <label for="email"> Email</label>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp┇
        <input name="email" type="email" id="email"><br>
        --------------------------------------------------<br>
        <label for="retype_email"> Retype Email</label>
        ┇
        <input name="retype_email" type="email" id="retype_email"><br><br>
    </b>
    <input type="submit" value="Add Email">
</form>
</body>
</html>